*{
    font-size: 1rem;
    
}



body {
    background-image: url(../img/descarga.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

form {
    max-width: 600px;
    margin: auto;
}




i {
    color: grey;
    font-size: 3rem;
}

